.button {
  padding: 12px 16px;
  line-height: 150%;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  background-color: #877eed;
  cursor: pointer;
}

.button:hover {
  background-color: #544acb;
}
